[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Curso-Udemy-Fernando/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Curso-Udemy-Fernando/product-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Curso-Udemy-Fernando/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Curso-Udemy-Fernando/payments-ms.git
